*{
    margin: 0%;
    /* border: 1px white solid; */
   
}
body {
    font-family: 'akira', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
@font-face {
    font-family: 'akira';
    src: url('fonts/akiraexpanded.otf');
}

@font-face {
    font-family: 'coolvetica';
    src: url('fonts/coolvetica condensed rg.otf');
}

@font-face {
    font-family: 'creato';
    src: url('fonts/CreatoDisplay-Regular.otf');
}
@font-face {
    font-family: 'nexa';
    src: url('fonts/Nexa-Heavy.ttf');
}
.ferrari_logo {
    width: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    /* margin-right: -50px; */
}
.cover-vid {
    width: 100%;
    height: auto;
    z-index: -1;
}
.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
}

.ferrari_logo {
    width: 100px;
    margin-right: -50px;
}


.link {
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: larger;
    font-family: 'akira', Arial, sans-serif;
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: .5s ease-in-out;

}

.link:hover::after {
    width: 100%;
}

.header_ul {
    position: absolute;
    left: 80px;
    top: 30px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.navbar{
    position: sticky   ;
}

.all-new-text{
    font-family: 'akira', Arial, sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 100px;
 
}

.main_pic{
    position: relative;
}
.main_pic_gradiant{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient
    z-index: 1;
}
.main-img {
    width: 100%;
    height: auto;
    z-index: -1;
    
}
.main_pic_a_text{
    position: absolute;
    padding-bottom: 10px;
    padding-left: 5px;
    bottom: 0;
    font-size: 30px;
    color: white;
   
}


.main_pic_text::after {
    content: '';
    position: absolute;
    margin-left: 5px;
    left:;
    bottom: 10px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: .5s ease-in-out;

}

.main_pic_text:hover::after {
    width: 45%;
}

.main_pic_undertext_div{
    background-color: rgb(0, 0, 0);
    margin-top: -5px;
}
.main_pic_undertext{
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: creato;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 250px;
    margin-right: 250px;
   
}
.sf80stradale_img{
    height: 300px;
    padding: 50px;
}
.sf80stradale_img:hover{
    transition: .3s ease-in;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    z-index: 1;
}
.engine_text{
    font-family: 'akira', Arial, sans-serif;
    font-size: 50px;
    color: white;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #9a0000;
  

}
.engine_text_under{
    font-family: 'akira', Arial, sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #9a0000;
  
}
.sf80stradale_engine{
    display: flex;
   align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: rgb(40, 40, 40); */
    background-color: #9a0000;
    padding-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.sf80stradale_img{
    height: 300px;
    padding: 50px;
}


.engine_specs{
    

}
.engine_specs_ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

    /* flex-wrap: wrap; */

}
.engine_stats{
    margin: 20px;
    padding: 20px;
   
    border-radius: 10px;
    width: 250px;
    height: max-content
    background-color: rgb(40, 40, 40);
    color: white;
    font-family: akira;
    font-size: 20px;
    text-align: center;
}
.engine-details{
  
    display: flex;
    justify-content: space-between;
}
.engine_detail_header{
 
}
#fuel_consumption{
    margin-left: ;
}
.engine-details{
  
    display: flex;
    justify-content: center;
    padding-top: 30px ;
    padding-bottom: 30px;
    background-color: rgb(43, 43, 43)  ;
}


.engine_specs_ul_value{ 
    list-style-type: none;
    padding: 0;
    margin: 100;
    display: flex;
    justify-content: center;
}
.engine_detail_ul_value{
    list-style-type: none;
    padding: 0;
    margin: 100;
    display: flex;
    justify-content: space-evenly;
  
}
.engine_detail_ul{
    display:flex;
    padding-left: -100px;
    justify-content: space-between;
}
.engine_detail_values{
  
    list-style-type: none;
  
    display: inline-block;
    

   
  
}
.engine_stats_value{
    margin: 20px;
    padding: 20px;
  
    border-radius: 10px;
    width: 250px;
    height: max-content
    background-color: rgb(40, 40, 40);
    color: white;
    font-family: akira;
    font-size: 20px;
    text-align: center;
}

/* footer css starts here */
.footer {


    left: 0;
    bottom: 0;
    margin-left: -10px;
    width: auto;
    background-color: rgb(30, 29, 29);
    border: 1px black solid;

}

.footer_logo_f {
    width: 30px;
    padding: 20px 10px 10px 30px;
  
}



.footer_ul {
    display: flex;
    font-size: 10px;
    list-style: none;
    color: white;
    /* border: 1px black solid; */
    justify-content: space-evenly;

}

.link_f {
    /* border: 1px black solid; */
    display: inline-block;
    text-decoration: none;

    color: white;
    margin: 20px;
    font-size: larger;
    font-family: 'akira', Arial, sans-serif;
    position: relative;

}

.link_f::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: .5s ease-in-out;

}

.link_f:hover::after {
    width: 100%;
}

.footer_underlinks {

    display: flex;
    justify-content: space-evenly;
    color: white;


    /* border: 1px solid white; */

}

.home_under {
    margin-left: -20px;
    list-style: none;
    color: white;
    /* border: 1px solid white; */
}

.sportcars_under {
    margin-left: -25px;
    list-style: none;
    /* border: 1px solid white; */

}

.collections_under {

    list-style: none;
    /* border: 1px solid white; */
}

.experiences_under {

    list-style: none;
    /* border: 1px solid white; */
}

.about_under {

    list-style: none;
    /* border: 1px solid white; */
}

.footer_links {
    color: #fff;
    font-family: coolvetica;
}

.li_under:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
    border-bottom: .5px solid white;

}

.divider_under_logo {
    position: relative;
    left: 50px;
    height: 10px;
    width: 1400px;
    border-bottom: 1px solid grey;
}

.divider {
    position: relative;
    left: 160px;
    height: 10px;
    width: 1200px;
    border-bottom: 1px solid grey;
}

.copyright_text {
    position: relative;
    left: 450px;
    width: 600px;
    padding-top: 30px;

    color: grey;
    text-align: center;
    font-size: 10px;
    font-family: creato;
}
.all-new-text{

}